### Importing necessary libraries

In [1]:
import time
import warnings
import itertools
import numpy as np
import pandas as pd
from IPython.display import display 
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
start = time.time()

In [3]:
warnings.filterwarnings("ignore")

### Importing the DataFrame

In [4]:
df = pd.read_csv("./clean_and_structured_news.csv")
df.head()

,clean_data,structured_data
0,"After reaching his hotel in the city, RM revea...",reaching hotel city rm revealed stay would fou...
1,RM aka Kim Namjoon was the first member to joi...,rm aka kim namjoon first member join bts group...
2,"Billie Eilish's concert was held in Seoul, Sou...",billie eilishs concert held seoul south korea ...
3,BTS ARMY you all would be missing the members ...,bts army would missing members lot right well ...
4,BTS member Kim Seokjin aka Jin has the capacit...,bts member kim seokjin aka jin capacity create...

### Removing the duplicates

In [5]:
class RemoveDuplicates:
    def __init__(self, df: pd.DataFrame) -> None:
        self.__df = df
        self.__vectorizer = TfidfVectorizer(analyzer='word',
                                            ngram_range=(2, 5),
                                            stop_words='english',
                                            max_features=5000)

    def __combine_text(self) -> list[str]:
        """
        this function takes 'structured_data' column and converts it into list of string
        :return: list of string of sentences
        """
        self.__corpus = '.'.join(self.__df['structured_data'].to_list())
        return self.__corpus.split(".")

    def train(self) -> TfidfVectorizer:
        """
        this function, fits and transform tfidf vectorizer using the data under 'structured_data' column
        :return: vectors generated on the basis of data present under 'structured_data' column
        """
        self.__corpus = self.__combine_text()  # corpus: collection of texts
        self.__vectorizer.fit_transform(self.__corpus)
        # self.__only_idf = self.__vectorizer.idf_
        return self.__vectorizer

    def __get_sentence_embeddings(self, vectorizer, row_no: int, no_of_sentences: int) -> list:
        """
        this function returns indices of sentence that are repeated many times throughout the DataFrame
        :param row_no: indicates the DataFrame's index on which processing is to be done
        :param no_of_sentences: indicates the number of sentences present in DataFrame's index specified above
        :return: indices of sentences within the DataFrame's index that are repeated many times
        """
        self.__vectorizer = vectorizer
        structured_data = self.__df['structured_data'][row_no].split(".")
        cleaned_data = self.__df['clean_data'][row_no].split(".")
        
        X_test = [[np.exp(np.sqrt(self.__vectorizer.transform(structured_data)[i].toarray())).mean(), i, row_no, cleaned_data[i]] for i in range(no_of_sentences)]
        X_test.sort()
        return X_test

    def embeddings_for_sentence(self, vectorizer) -> list:
        """
        this function returns the sentence that are removed from the data.
        :return: sentences removed from the data.
        """
        __row = []
        for i in range(self.__df.shape[0]):
            structured_data = self.__df['structured_data'][i].split(".")
            cleaned_data = self.__df['clean_data'][i].split(".")
            no_of_sentences = len(structured_data)
            sentence_embeddings = self.__get_sentence_embeddings(vectorizer, i, no_of_sentences)
            __row.append(sentence_embeddings)
        return __row
    
    def __compute_threshold(self) -> float:
        """
        this function computes appropriate threshold
        :return: returns the calculated threshold
        """
        if "sentence_embeddings" in self.__df.columns:
            lst = list(itertools.chain(*self.__df['sentence_embeddings'].tolist()))
            sentence_embeddings = [i for (i, j, k, l) in lst]
            sentence_embeddings.sort()
            thresh = np.percentile(sentence_embeddings, 15, interpolation = 'midpoint')
            Q1 = np.percentile(sentence_embeddings, 25, interpolation = 'midpoint') # 0.00019836157232631794
            Q2 = np.percentile(sentence_embeddings, 50, interpolation = 'midpoint') # 0.0002630437164689158
            Q3 = np.percentile(sentence_embeddings, 75, interpolation = 'midpoint') # 0.00012697415854370304
            IQR = Q3 - Q1 # 0.00012697415854370304
            #sns.boxplot(sentence_embeddings)
            #print(f"Q1 25 percentile of sentence_embeddings: {Q1}")
            #print(f"Q1 50 percentile of sentence_embeddings: {Q2}")
            #print(f"Q1 75 percentile of sentence_embeddings: {Q3}")
            #print(f"IQR of sentence_embeddings: {IQR}")
            threshold = Q1 - 1.5 * IQR # 7.900334510763384e-06
            return Q1
    
    def duplicate_sentence_indices(self) -> list:
        """
        this function gives the indices of the duplicate sentences
        :return: returns the list duplicate sentence indices
        """
        __all_rows = []
        threshold = self.__compute_threshold()
        for i in self.__df['sentence_embeddings']:
            __row = []
            for [j, k, l, m] in i:
                if 0 < j < threshold:
                    __row.append([j, k, l, m])
            __all_rows.append(__row)
        return __all_rows
    
    def duplicate_sentences(self) -> list:
        """
        this function returns list of duplicate sentences
        :return: returns duplicate sentence's list
        """
        __all_rows = []
        for i in range(self.__df.shape[0]):
            cleaned_data = self.__df['clean_data'][i].split(".")
            duplicate_sentence_indices = self.__df['duplicate_sentence_indices'][i]
            __rows = [cleaned_data[k] for [j, k, l, m] in duplicate_sentence_indices]
            __all_rows.append('.'.join(__rows))
        return __all_rows

In [6]:
rd = RemoveDuplicates(df)

In [7]:
%%time
vectorizer = rd.train()

CPU times: total: 1.25 s
Wall time: 1.49 s

In [8]:
%%time
df['sentence_embeddings'] = rd.embeddings_for_sentence(vectorizer)

CPU times: total: 4.41 s
Wall time: 8.76 s

In [9]:
%%time
df['duplicate_sentence_indices'] = rd.duplicate_sentence_indices()

CPU times: total: 0 ns
Wall time: 14 ms

In [10]:
%%time
df['duplicate_sentences'] = rd.duplicate_sentences()

CPU times: total: 0 ns
Wall time: 10 ms

In [11]:
df.head()

,clean_data,structured_data,sentence_embeddings,duplicate_sentence_indices,duplicate_sentences
0,"After reaching his hotel in the city, RM revea...",reaching hotel city rm revealed stay would fou...,"[[1.0, 0, 0, After reaching his hotel in the c...","[[1.0, 0, 0, After reaching his hotel in the c...","After reaching his hotel in the city, RM revea..."
1,RM aka Kim Namjoon was the first member to joi...,rm aka kim namjoon first member join bts group...,"[[1.0, 4, 1, In my journey with BTS, I drifted...","[[1.0, 4, 1, In my journey with BTS, I drifted...","In my journey with BTS, I drifted further and ..."
2,"Billie Eilish's concert was held in Seoul, Sou...",billie eilishs concert held seoul south korea ...,"[[1.0005180427568212, 7, 2, RM captioned the p...","[[1.0005180427568212, 7, 2, RM captioned the p...","RM captioned the post saying, ""bad guys Well, ..."
3,BTS ARMY you all would be missing the members ...,bts army would missing members lot right well ...,"[[1.0003436563656918, 3, 3, He performed on h...","[[1.0003436563656918, 3, 3, He performed on h...",He performed on his latest solo album and als...
4,BTS member Kim Seokjin aka Jin has the capacit...,bts member kim seokjin aka jin capacity create...,"[[1.000518070901389, 3, 4, He will soon turn ...","[[1.000518070901389, 3, 4, He will soon turn ...",He will soon turn 31 Jungkook is also gettin...

In [12]:
def compute_threshold(series: pd.Series) -> float:
    lst = list(itertools.chain(*series.tolist()))
    sentence_embeddings = [i for (i,j,k,l) in lst]
    sentence_embeddings.sort()
    """Q1 = np.percentile(sentence_embeddings, 25, interpolation = 'midpoint')
    Q2 = np.percentile(sentence_embeddings, 50, interpolation = 'midpoint')
    Q3 = np.percentile(sentence_embeddings, 75, interpolation = 'midpoint')
    IQR = Q3 - Q1 
    sns.boxplot(sentence_embeddings)
    print(f"Q1 25 percentile of sentence_embeddings: {Q1}")
    print(f"Q1 50 percentile of sentence_embeddings: {Q2}")
    print(f"Q1 75 percentile of sentence_embeddings: {Q3}")
    print(f"IQR of sentence_embeddings: {IQR}")
    threshold = Q1 - 1.5 * IQR # 0.0001785034309020805 """
    res = []
    for m in range(1, 26):
        thres = np.percentile(sentence_embeddings, m, interpolation = 'midpoint')
        removed_sentences_indices = []
        for (i,j,k,l) in lst:
            if i < thres:
                removed_sentences_indices.append([i, j, k, l])
                removed_sentences_indices.sort()
        res.append([removed_sentences_indices, len(removed_sentences_indices), m])
    return res

In [13]:
to_find_avg = []
res = compute_threshold(df['sentence_embeddings'])
for i in range(1, len(res)):
    to_find_avg.append(res[i][1])
    print(f"When {i}th percentile is set as threshold, no. of duplicate sentences found are = {res[i-1][1]}")

When 1th percentile is set as threshold, no. of duplicate sentences found are = 0
When 2th percentile is set as threshold, no. of duplicate sentences found are = 0
When 3th percentile is set as threshold, no. of duplicate sentences found are = 0
When 4th percentile is set as threshold, no. of duplicate sentences found are = 0
When 5th percentile is set as threshold, no. of duplicate sentences found are = 0
When 6th percentile is set as threshold, no. of duplicate sentences found are = 0
When 7th percentile is set as threshold, no. of duplicate sentences found are = 0
When 8th percentile is set as threshold, no. of duplicate sentences found are = 0
When 9th percentile is set as threshold, no. of duplicate sentences found are = 560
When 10th percentile is set as threshold, no. of duplicate sentences found are = 560
When 11th percentile is set as threshold, no. of duplicate sentences found are = 560
When 12th percentile is set as threshold, no. of duplicate sentences found are = 560
When 13th percentile is set as threshold, no. of duplicate sentences found are = 560
When 14th percentile is set as threshold, no. of duplicate sentences found are = 560
When 15th percentile is set as threshold, no. of duplicate sentences found are = 560
When 16th percentile is set as threshold, no. of duplicate sentences found are = 560
When 17th percentile is set as threshold, no. of duplicate sentences found are = 560
When 18th percentile is set as threshold, no. of duplicate sentences found are = 560
When 19th percentile is set as threshold, no. of duplicate sentences found are = 560
When 20th percentile is set as threshold, no. of duplicate sentences found are = 560
When 21th percentile is set as threshold, no. of duplicate sentences found are = 560
When 22th percentile is set as threshold, no. of duplicate sentences found are = 1456
When 23th percentile is set as threshold, no. of duplicate sentences found are = 1523
When 24th percentile is set as threshold, no. of duplicate sentences found are = 1589

In [14]:
def create_dataframe(data: list[str], tdidf: list[float], row: list[int], offset: list[int]) -> pd.DataFrame:
    result = pd.DataFrame()
    result['data'] = data
    result['tfidf_value'] = tfidf
    result['row_no'] = row
    result['sentence_offset'] = offset
    return result

In [15]:
percentile = int(input("Enter percentile: "))
data, tfidf, row, offset = [], [], [], []
for [i,j,k] in res:
    if k == percentile:
        for l in i:
            data.append(l[3])
            tfidf.append(l[0])
            row.append(l[2])
            offset.append(l[1])
result = create_dataframe(data, tfidf, row, offset)
result.to_csv('./using_exp_sqrt_mean.csv', index=False)
display(result)

Enter percentile: 24

,data,tfidf_value,row_no,sentence_offset
0,"After reaching his hotel in the city, RM revea...",1.00000,0,0
1,"In the pictures, several new designs and colou...",1.00000,19,0
2,While the craze for K-Pop and K-Dramas apparen...,1.00000,23,0
3,"After Jimin met J-Hope, he spoke to the camera...",1.00000,49,0
4,"Charlie replied, ""I heard that too, and everyb...",1.00000,64,0
...,...,...,...,...
1584,BTS member Jeon Jungkook will be turning a yea...,1.00052,440,0
1585,waves internationally with his fervent music a...,1.00052,721,10
1586,He also called the group 'the most popular and...,1.00052,709,1
1587,"Narcissistic, my god, I love it, I HAVE has ha...",1.00052,646,4
1588,This is a remarkable achievement achieved afte...,1.00052,719,5

In [16]:
result['tfidf_value'][1]

1.0

In [17]:
result.sort_values(by='sentence_offset', ascending=False)

,data,tfidf_value,row_no,sentence_offset
559,"Cha In-ha Cha In-ha, aged 27, was a young newb...",1.000000,529,52
1445,Not only did he reveal his struggle with menta...,1.000344,529,49
1444,"Thankfully, his fans quickly sent their suppor...",1.000344,529,44
558,"""I was more apprehensive about others and did ...",1.000000,529,41
557,"When we are promoting, we do not have a break ...",1.000000,529,40
...,...,...,...,...
573,She posted the photos of her soaking up the su...,1.000344,123,0
574,He was recently featured on the comedy chat sh...,1.000344,135,0
575,Jungkook revealed that if he could speak in En...,1.000344,137,0
576,"The singer, while walking, smiled and made hea...",1.000344,138,0
0,"After reaching his hotel in the city, RM revea...",1.000000,0,0

In [18]:
for i in range(100):
    print(f"{i+1}. {result['data'][i]}")

1. After reaching his hotel in the city, RM revealed that his stay would be for four days and added that he would step out for dinner
2. In the pictures, several new designs and colours were also seen added to Jungkook's existing tattoos  The artist also added his 'nickname' on Jungkook's arm
3. While the craze for K-Pop and K-Dramas apparently originated from the Northeast, the BTS wave is spreading all over the nation Some months back, we told you how Jungkook's pic was used to advertise an English-speaking class in Sonepat, Haryana, here is a new incident
4. After Jimin met J-Hope, he spoke to the camera in the US, "I bet he is super nervous I think I will be nervous too He will do fine J-Hope is the most professional one out of us He will do great I have no doubts"
5. Charlie replied, "I heard that too, and everybody in my camp does not know the date it comes out, we legitimately have no idea the day it comes out, we do, but we just figured it out"
6. On the show, when RM was asked about his thoughts on marriage, he revealed he is really scared about it He added that people born in the 1990s are currently the ones who are scared of marriage
7. Some days back, he was seen dressed as a biker and fans wondered if he had bought a motorbike  Some Korean handles on Twitter have confirmed that he got his biking license in the month of November
8. Jungkook, in the clip, walked through a market as yellow colour was thrown in the air behind him In Kesariya, Alia and Ranbir Kapoor dance to the track in a marketplace as well with marigold flower petals being showered on them
9. It provides us an escape from the grim realities and that can be so beneficial especially in the times we live in This week too, was quite exciting as far as Hollywood is concerned
10. J-Hope opted for am all-black ensemble sweater, coat, and trousers He also wore a black mask, and shoes and carried a bag with a yellow scarf tied to it
11. We are getting a series of photo shoots conceptualised by Jungkook on his birthday In the pic, we can see Jungkook with a red eye and red lips almost like a vampire
12. talks about ARMYs, My You and Run BTSBTS maknae begins the vlog by talking about his song for ARMYs called My You and talks about how it was grammatically incorrect but it did its job to express his true feelings towards his fans
13. Now, one incident has been reported where a former sasaeng fan of the septet from Japan revealed how her obsession affected her life  It seems she was recruited by a Korean sasaeng who had told her to follow the band, and find out if Jungkook was dating someone or not
14. BTS has been ruling the Twitter-verse for years now, with them being some of the most talked about personalities on the platform Individually or as a group, often some hashtag or mention related to the septet finds its way to the trending topics around the world as millions of fans celebrate every moment related to the group
15. TREASUREs Bang YedamA prodigy from the very beginning, Bang Yedam has always managed to grab all the attention with his silky smooth voice From There Is Nothing Holdin Me Back cover to his beautiful voice blending with other TREASURE members, he has come a long way The unique vocal belts to even his whispers bring a warm feeling to the hearts of listenersStray
16. BTS is one of the cult figures of present times   But it is a fact that their journey to the top was a tough ride
17. On January 7, KARDs rapper BM, who is known to be real and funny, broke the fourth wall with his fans on Twitter by asking What is a delulu? and when the fans explained it to him that delulu means being delusional or assuming that they have real feelings for their favorite idols, he responded with Ah so you guys are delulu for me? i am also delulu for you This started the spiral of K-Pop slang and he began learning all the confusing words which he wanted to guess but soon he said that he was confused and just wanted to know all the K-Pop slang with definition
18. Well, he has done it again Well, if reports are to go by then Jungkook's old car has been sold for above USD 900,000 dollars The car he later sold off to a collector Now, this person has reportedly sold it in an auction
19. He said that he liked jazz ever since he was a schoolboy, but its something that he 'only admired from afar and never dared to do myself' V added that as ARMY has been talking about wanting to hear him on the radio, so he wants 'to try some deejaying'
20.  After getting his teeth checked at the dentist, he bought some corn from a local vendor His interactions with the staff was rather cute as they seemed very keen to serve him really well
21. In the brief clip, V said, "Originally to do a live, company staff has to come but since there is a new live button after the update so I just clicked on the live button to see if it worked or not but it is working This is a test"
22. They also recalled the famous dumpling incident (involving a heated argument between Jimin and V) and the banana incident (when Jungkook noticed fruits disappearing from the fruit basket ARMY gave him
23.  As per some Blinks, Da-hyun apparently lied that she did not have YT Premium account  Now, TWICE have written on Twitter that some Blinks cyber bullied and doxxed an admin of one of their biggest fan pages
24. He is really experimenting with his music 'That is so cool That is amazing I wish I could do that I want to be like that', those were my thoughts"
25.  Jin responded, We decided to not give each other birthday gifts~ its a lot giving 7 gifts a year So Jimin-ah, there is nothing you need to buy! I have everything!"
26. He added that people born in the 1990s are currently the ones who are scared of marriage He who thought marriage was a natural process, now looks at it differently
27. While for Jin it is a mouse emoji, RM is represented by a koala, Suga is the cat, J-Hope is a squirrel, Jimin is a baby chick, V is a tiger and Jungkook is a bunny
28.  What a stud Plus hes good at boxing After I met Jk I can definitely see why they get so much love Humble, [ambitious] and talented "
29. Even those not into K-Pop are curious to know who are these guys? And once you find out about them, the interest seems to grow and grow
30.  RM commented on the post and appointed Jin as the official leader of strawberries He wrote, 'Leader of strawberries, You went there to prove yourself'
31. There were many moments from the evening that will live rent-free in the minds of fans Now, a video is doing the rounds on TikTok, and it is a funny one
32. Seo-joon next shared with V and Hyung-sik, "I can feel my eyes are swollen I just noticed none of us have double eyelids" A surprised Hyung-sik asked, "All of us? We all have monolids?"
33. Peakboy then asked the cameraperson if everything was 'impromptu' V replied, "I just thought we could try it" and V said, "Trust me" The next part of the video reveals that V planned a 'four-day friendcation trip' during the winter season this year
34. You are probably going to be well aware of what event we took part in Making us feel thankful and feel honoured for the fact that there are you all ARMYs from diverse races, countries, and cultures we were able to represent you all and amplify your voices by taking part in this event"
35. But the law provides special exemptions for athletes, classical and traditional musicians, and ballet and other dancers who have won top prizes in certain competitions that enhance national prestige
36.  The latest is a series of alleged dating pics from a restaurant in Gyeonggi As per the handle, Gurumiharibo, the alleged couple had gone for a lunch date
37.  The crowd erupted in loud cheer as the star made his appearance felt The crowd erupted in loud cheer as the star made his appearance felt
38. The members had serious expressions on their faces as they showed their new looks In their individual pictures, the members stood in front of a round wall, resembling a door, that had holes made by bullets
39. The show featured Jin acing his first ever interview for an office job and immediately getting hired as an intern, following which he got his ID photograph clicked, and created an impressive PPT about his ideas for the game
40. "Now that we know he has to go, what about his safety and privacy?! He is not even in yet and already information has leaked He needs to be protected from people that are going to try and sell him out,"
41. Coming to the details, J-Hope's outfit featured a black silk-satin shirt featuring a plunging neckline exposing his chest and a draped overlapping design on the front  He styled the all-black look with a back-swept hairdo, an embellished brooch, black tinted sunglasses, a classic vintage watch, and embellished block-heel boots
42.  The ad is there in the middle of Park Street which is decorated for Christmas 2022 This is not the first time  Last year, they had put an ad on top of the iconic Flury's cafe of Kolkata Well, this time there is a cup sleeve event happening too Korean food is being served in food truck in the city
43.  I heard that shemet RM at a fan meetingbetween 2014 and 2015 The unnamed user also reportedly supported claims with texts allegedly exchanged with her friend who said, I cannot tell you the exact date, but hes a celebrity
44.  Many speculated that he had done for the Art Festival in Basel, which is a famous all over the globe  A fan got an autograph from him and also made a TikTok video of the same
45.  He added that in 2022, he is hopeful and thinking that 'it might just be enough to convey something while being purely my sincere self' So now I Am worried if I Am just doing the things I Am given and if I Am losing myself in a way
46. The leader has been in the news for a number of reasons whether it is for his new role as a art patron or how he genuinely told ARMYs that he was always with them in spirit
47. Jimin admitted that the group has been going through a "rough patch" as it is trying to "find our identity, and that is an exhausting and long process"
48. Interacting with the fans, Jungkook later said, "I heard the cake for my birthday came out I wanted to do something using light purple, light blue, light pink something like that
49.  In some of the videos, fans are heard cheering for Jung Ho Seok and shouting Go Hobi!  But, J-Hope did not let anything stop him from putting his best for the last show of the year
50. So I could not go out that way/side I wanted to meet you for certain but I am sorry If (we) can see (each other) in the concert, I hope we get to see (each other) for sure"
51. An athletic meet named K-retro Sports Day where the group is divided into white and blue teams has been set up while the other theme is of Self Camera
52. All of them spoke about how they were wary because of the new concert rules where fans could not chant, yell, scream or stand up and dance Everyone had to use a clapper to cheer for the boys
53. Part Dann on the back of releasing the fourth mini-album A group heavily basing their content on the different cultures around the world, DANN, ARTHUR, MUJIN, LOUIS, IVAN, JAHAN, and CHIWOO speak about their magnificent concept and plans ahead
54.  He is heard saying that he will focus on staying healthy when he is in the military He said he would be careful to not get hurt when he is training ARMY is emotional seeing this video
55. So, I am trying not to meet people " The host of the event, asked her, "Is there anyone here that you want to buy a meal for?" After thinking for a moment, she turned around, smiled and replied, "BTS "
56.  He scolded the girl saying that he would grabbed her by the collar and slapped her if she was a boy This was not all
57. It seems she was recruited by a Korean sasaeng who had told her to follow the band, and find out if Jungkook was dating someone or not
58. After that in another post, he wrote, "I should watch another movie " Commenting on his own post, Jimin continued, "There is this movie called Allied
59. , Variety author Thania Garcia put BLACKPINK and a couple of other artists who performed at the awards show under scrutiny, calling them "repeat offenders "  Even though the author pointed out the "tricky"
60. A question about the group was asked in the English paper for the CBSE Class 9th students of the 2021-2022 session Pictures of the paper were shared by students on Twitter, which revealed that the first question in the English paper - a comprehensive passage - had BTS and its popularity as its subject Also Read|
61. Kids SeungminSeungmin is an underrated vocalist whose voice has the power to hypnotize any listener because of how beautiful it was One instance that made it stand out would be during Kingdom: Legendary War performance which he did alongside BTOBs Eunkwang and ATEEZs Jongho, singing Love Poem by IU and the passion he added to the song was admirable!ATEEZs JonghoOne cannot make a list of 4th Gen K-Pop vocalists and not add Jongho!
62.  That is right still the cutest, added another one Someone also said, No matter what happens, I am PROUD of you, will always think of you and will pray for you constantly!
63. Fans remember how the whole BTS gang went to the Bomunsa Temple to pray for the Wings album in 2017 RM identifies himself as an atheist but is fond of places of cultural interest
64. ARMY is raving about it and are hailing Jimin for helping small local businesses By the end of his vlog, Jimin also showcased the bracelet that he made during his class
65. Soon as rumours of them dating were doing the rounds, the retail giant released a rare statement rubbishing them and asking to refrain from making speculations
66.  He said he had grown his hair so he could do head banging at the concert  It got a good critical reception, and the songs are doing well on Spotify
67.  Due to the difference in time zones, its taking some time for us to check the facts, so we ask for your understanding It has not yet revealed where the show is being filmed
68.  ARMY went gaga seeing the biceps of Baby Mochi but something else got attention too  Eagle eyed ARMY noticed that it was the same one he wore in 2018
69. Jungkook has ranked fourth, Neymar took the fifth position, and Fahad clinched the sixth spot Luis Enrique took the eighth position, Grat Wahl the ninth spot, and Julian Alvarez the tenth spot
70. Using hashtag #BIGHITPROTECTNAMJOON, many fans brushed off accusations of plagiarism and urged others to mass mail BTS labels HYBE and Bighit to take action for attack against their idol
71. "I can hear JK's voice well! The way he bows and says thank you until he enters the lobby is really the same JK as usual,"
72. Fans on numerous occasions have compared Suga to a cat and he too has spoken about the comparison However, it is the first time that he has directly referred to himself as the cat in the picture
73. "Jimin is always so meticulous about everything he does, turns everything that he touches to gold As said, he never releases something less than iconic But it blows my mind each time he presents us with something, the scale, the concept; everything, always much bigger,"
74. "The fact that JK took the time to ask where she is from? Then proceeded to greet her in her language? My heart just melted Why is he so pure and kind?"
75. Even I think I sounded a little over the top or tried to make my voice sound extremely polished in my old performances when I hear them, but after trying to only sing with my natural voice for some time, I Am starting to feel sort of turned off by it
76. "So let me get this straight JK unbuttoned and pulled Tae's shirt down He got shy and walked away JK called him over to pull it down AGAIN Tae turned around and stood in front of JK, revealing both his shoulders, and the other members pulled it down even more yeah I am not ok!"
77.  It seems some fans tried to reach out to Jimin's brother who confirmed that it is not him This is indeed unfortunate if it is true
78. He played Steam Deck with close to nine million ARMYs, and was literally in tears as he could not crack it easily As we know, Jin is a pro gamer
79.  He also said, "I got my wisdom tooth pulled out After I got my wisdom tooth out  He said, "I am so sorry I just broke the last one and broke it again I am very sorry"
80.  The rapper-dance leader and sub vocalist's styling, the whole concept and visuals have blown away the general public BTS has a huge fandom in India
81.  "Only, I wondered that I, who went there to represent you all, is still a lot inexperienced I feel sorry for making you feel worried for my lack of experience (at times)
82. He continued, Hes kind of been there every step of the way, and also, you know, one of the producers of the group as well I mean what is not to love?"
83. On Weverse, a fan, whose username translates to This Grannys Bank Account Belongs To Min Kitty thanked for J-Hopes updates and wrote, I was not in a good mood
84. Talking about the chaos in life at an early stage, verse, RM looks dapper in a suit and raps in the song, I can hear your heartbeat/I just find it funny/Your money we keep it one and the only/ You should have known you owe me
85. It is expected to resume on May 16 Amidst this, a report in HollywoodLife claims that the Pirates of the Caribbean star has flown off to the UK
86. While ARMY loved watching Jin trying his best to deliver a strong presentation, he later revealed that he ended up not getting the job due to some other mistake
87. I would always feel discouraged, but my personality has changed a lot now, I think I think the biggest change in my mind is that now, even if there is a major project in the works, I think I can do it now Now, instead of, 'How can I handle this?' when I Am making songs for other people to listen to"
88. "I called it! I literally love pink sweats so much and i saw him in concert and when jk sang his song i flipped out cannot believe this is happening,"
89. it isI'll be back safely and see you again in June with a smile Byeee PS I am on my way to meet Jiminie (Jimin) Haha"
90.  He also added, "When I listen to the whole album it has to be 'good, good' But I have always been missing that 'why is this song here?' I kept changing the track list because of that and could not finish it
91. It is in orange and black colour The bike is a limited edition one from Tod's x Colnago It is made in Italy by the two leading brands from the European country
92. It was never my intention to live feeling this way, and I want to live an independent and active life, but now I Am starting to wonder if I Am living too passively because of the pandemic, and its unbearable
93.  According to the statement, officials were asked to check details including which agency would be responsible for a survey, who exactly would be surveyed and how long would it take
94.  Jin will be the first one to begin his process for the same around October-end, after wrapping up his work commitments Others will join as and when they are asked to
95. Fans are already imagining if some of the other characters came as vampires or werewolves in the photoshoot A fan made a poster of Jungkook with Twilight New Moon
96. The video opens with a pitch-black scene, followed shortly by the sound of an alarm When the alarm goes off, RM gets out of bed, opens the curtains, makes his bed, and stretches
97. A recall of their past albums, their present selves, and their future, Proof will be made available with pre-orders starting at 11 AM on May 5, 2022 (KST)
98. On the show, he spoke about how Megan Fox and he were madly in love and they had just adopted Whiskey, a cat The couple had met for the first time on the sets of Midnight in the Switchgrass
99. and rock the VMAs stage, queens Ros opted for a comfortable look with a black top and baggy brown trousers, fellow group-mate Jennie paired a white dress with black boots, giving off a dainty vibe BLACKPINKs

In [19]:
print(f"Total time taken in complete program execution: {(int)((time.time()-start)//60)} mins {(int)((time.time()-start)%60)} secs")

Total time taken in complete program execution: 0 mins 26 secs